 <!-- Page Header Start -->
 <div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 id="h2-about">Recipe</h2>
            </div>
            <div class="col-12">
                <a id="breadcrumbs-home" routerLink='/home'>Home</a>
                <a id="breadcrumbs-about" routerLink='/recipes'>Recipes</a>
                <a id="breadcrumbs-about" routerLink='/recipe'>{{ recipe.name }}</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Single Post Start-->
<div class="single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-content">
                    <h2 class="recipe-name">{{ recipe.name }}</h2>
                    <p id="recipe-instructions">{{ recipe.description }}</p>
                </div>
                
                <div class="single-comment">
                    <h2 id="recipe-comments">{{ comments ? comments.length : "0" }} comments</h2>
                    <ul class="comment-list">

                        <!-- Comments here -->
                        <li class='comment-item' *ngFor="let comment of comments">
                            <div class='comment-body' (click)="userRoute(comment.author)">
                                <div class='comment-img'>
                                    <img src='../../assets/user.jpg' />
                                </div>
                                <div class='comment-text'>
                                    <h3>{{ comment.author }}</h3>
                                    <p><span>{{ comment.date }} {{ comment.time }}</span></p>
                                    <p>{{ comment.body }}</p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="comment-form">
                    <form>
                        <h2 id="leave-comment">Leave a comment:</h2>
                        <div class="form-group">
                            <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="errors" id="msg-empty-error"></div>
                        <div id="rating-submit">
                            <div class="rate">
                                <input type="radio" id="star5" class="rate" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" class="rate" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" class="rate" id="star3" name="rate" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" class="rate" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" class="rate" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                            </div>
                            <div class="form-group">
                                <a class="btn custom-btn" id="comment-submit">Comment</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <div class="image-widget">
                            <a><img src="../../assets/recipes/{{ recipe.img }}_1.jpg" alt="Image" id="recipe-img1"></a>
                            <a><img src="../../assets/recipes/{{ recipe.img }}_2.jpg" alt="" id="recipe-img2"></a>
                            <a><img src="../../assets/recipes/{{ recipe.img }}_3.jpg" alt="" id="recipe-img3"></a>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <h2 class="widget-title recipe-author">Author: {{ recipe.author }}</h2>
                        <h2 class="widget-title recipe-difficulty">Difficulty: {{ recipe.difficulty }}</h2>
                        <h2 class="widget-title recipe-mark">Rating: {{ recipe.rating }}</h2>

                        <button class="btn custom-btn btn-green" (click)="save()" *ngIf="!saved">Save</button>
                        <button class="btn custom-btn" (click)="remove()" *ngIf="saved">Remove</button>
                        <button class="btn custom-btn btn-green" data-toggle="modal" data-target="#recommend-modal">Recommend</button>
                        <button class="btn custom-btn btn-green" data-toggle="modal" data-target="#visibility-modal">Change visibility</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Post End-->   

<!-- Recommend modal start -->
<div class="modal fade" id="recommend-modal" tabindex="-1" role="dialog" aria-labelledby="recommend-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="reg-log">
                <div class="reg-log-form">
                    <div class="modal-header">
                        <h3 class="modal-title" id="log-modal">Recommend recipe</h3>
                        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="control-group">
                                <div class="input-group">
                                    <input list="followings" class="form-control" name="following" [(ngModel)]="username" placeholder="Username" />
                                    <datalist id="followings">
                                        <option *ngFor="let following of followings" [value]="following">{{following}}</option>
                                    </datalist>
                                    <div class="input-group-append">
                                        <div class="input-group-text"><i class="far fa-user"></i></div>
                                    </div>
                                </div>
                                {{recommendErrorMsg}}
                            </div>
                            <div>
                                <button class="btn custom-btn" type="button" (click)='recommend()'>Recommend</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Recommend modal end -->


<!-- Visibility modal start -->
<div class="modal fade" id="visibility-modal" tabindex="-1" role="dialog" aria-labelledby="visibility-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="reg-log">
                <div class="reg-log-form">
                    <div class="modal-header">
                        <h3 class="modal-title" id="log-modal">Change visibility</h3>
                        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="control-group">
                                <button style="margin-top: 2rem" class="btn custom-btn" type="button" (click)='visibility("everyone")'>Visible to everyone</button>
                                <button style="margin-top: 2rem" class="btn custom-btn" type="button" (click)='visibility("followers")'>Only for followers</button>
                                <button style="margin-top: 2rem" class="btn custom-btn" type="button" (click)='visibility("hide")'>Hide for everyone</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Visibility modal end -->