<!-- Nav Bar Start -->
<div class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
        <img src="assets/logo.png" height="55px" width="45px">
        &nbsp; &nbsp;
        <a class="navbar-brand" routerLink='/home'>ECookBook</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <!-- Navigation -->
                <a class="nav-item nav-link" routerLinkActive="active" routerLink='/home'>HOME</a>
                <a class="nav-item nav-link" routerLinkActive="active" routerLink='/recipes'>RECIPES</a>
                <a class="nav-item nav-link" routerLinkActive="active" *ngIf="loggedUser != null" routerLink='/addRecipe'>ADD RECIPE</a>
                <a class="nav-item nav-link" routerLinkActive="active" *ngIf="loggedUser != null" routerLink='/profile'>PROFILE</a>
                <a class="nav-item nav-link" routerLinkActive="active" routerLink='/about'>ABOUT US</a>
                
                <button class="btn btn-outline-danger log-out-btn" *ngIf="loggedUser != null" (click)="logout()">LOG OUT</button>
            </div>
        </div>
    </div>
</div>
<!-- Nav Bar End -->

<!-- Content -->
<router-outlet></router-outlet>